* text=auto

.gitattributes text eol=lf
*.kt text eol=lf
*.kts text eol=lf
*.java text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.rc text eol=lf
*.cil text eol=lf
*.prop text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.ps1 text eol=crlf

payload/system/bin/zui_controld text eol=lf
payload/system/bin/AsoulOpt binary
payload/system/bin/AppOpt binary
payload/system/etc/hosts text eol=lf
*.apk binary
