on post-fs-data
    mkdir /data/vendor/zui_control 0755 root root
    mkdir /data/vendor/zui_control/uperf 0775 root shell
    mkdir /data/vendor/zui_control/asoul 0775 root shell
    rm /data/vendor/asopt.conf
    symlink /data/vendor/zui_control/asoul/asopt.conf /data/vendor/asopt.conf
    restorecon_recursive /data/vendor/zui_control
    restorecon /data/vendor/asopt.conf
    setprop sys.zui_control.scheduler_active 1
    setprop sys.zui_control.uperf_fail_safe 0
    rm /data/vendor/zui_control/uperf/.service_ready_uptime
    rm /data/vendor/zui_control/uperf/.service_rapid_crashes
    stop vendor.perfservice

on property:sys.boot_completed=1
    exec u:r:shell:s0 root shell -- /system/bin/sh /system/etc/zui_control/zui_scheduler_prepare.sh ${sys.zui_control.uperf_mode:-unset}
    trigger zui-scheduler-start

on property:sys.zui_control.uperf_mode=powersave
    write /data/vendor/zui_control/uperf/effective_powermode.txt powersave

on property:sys.zui_control.uperf_mode=balance
    write /data/vendor/zui_control/uperf/effective_powermode.txt balance

on property:sys.zui_control.uperf_mode=performance
    write /data/vendor/zui_control/uperf/effective_powermode.txt performance

on property:sys.zui_control.uperf_mode=fast
    write /data/vendor/zui_control/uperf/effective_powermode.txt fast

on zui-scheduler-start
    setprop sys.zui_control.scheduler_active 1
    setprop sys.zui_control.uperf_fail_safe 0
    rm /data/vendor/zui_control/uperf/.service_ready_uptime
    rm /data/vendor/zui_control/uperf/.service_rapid_crashes
    stop vendor.perfservice
    start zui_asoulopt
    setprop zui_control.asoul started
    start zui_uperf

on property:zui_control.scheduler=restart
    setprop sys.zui_control.scheduler_active 1
    stop vendor.perfservice
    stop zui_uperf
    stop zui_asoulopt
    exec u:r:shell:s0 root shell -- /system/bin/sh /system/etc/zui_control/zui_scheduler_prepare.sh ${sys.zui_control.uperf_mode:-unset}
    trigger zui-scheduler-start
    setprop zui_control.scheduler restarted

on property:zui_control.scheduler=fence && property:sys.zui_control.scheduler_active=1
    stop vendor.perfservice
    setprop zui_control.scheduler fenced

on property:init.svc.vendor.perfservice=running && property:sys.zui_control.scheduler_active=1
    stop vendor.perfservice

on property:zui_control.scheduler=stop
    setprop sys.zui_control.scheduler_active 0
    setprop sys.zui_control.uperf_fail_safe 0
    rm /data/vendor/zui_control/uperf/.service_ready_uptime
    rm /data/vendor/zui_control/uperf/.service_rapid_crashes
    stop zui_uperf
    stop zui_asoulopt
    start vendor.perfservice
    setprop zui_control.scheduler stopped

on property:zui_control.asoul=start && property:sys.zui_control.scheduler_active=1
    start zui_asoulopt
    setprop zui_control.asoul started

on property:zui_control.asoul=stop
    stop zui_asoulopt
    setprop zui_control.asoul stopped

on property:sys.zui_control.uperf_fail_safe=1
    stop zui_uperf

service zui_uperf /system/bin/zui_uperf_service
    class late_start
    disabled
    user root
    group root system readproc graphics input
    restart_period 5
    onrestart exec u:r:shell:s0 root shell -- /system/bin/sh /system/etc/zui_control/zui_uperf_crash_gate.sh

service zui_asoulopt /system/bin/AsoulOpt
    class late_start
    disabled
    user root
    group root system readproc
