on post-fs-data
    mkdir /data/vendor/zui_control 0775 root shell
    mkdir /data/vendor/zui_control/log 0775 root shell
    restorecon_recursive /data/vendor/zui_control

on property:sys.boot_completed=1
    start zui_controld

service zui_controld /system/bin/sh /system/bin/zui_controld
    class late_start
    disabled
    user root
    group root system shell readproc graphics
    seclabel u:r:shell:s0
