on property:sys.boot_completed=1
    start zui_perfctld

service zui_perfctld /system/bin/sh /system/bin/zui_perfctld
    class late_start
    disabled
    user root
    group root system shell readproc graphics
    seclabel u:r:shell:s0
